<%layout("layouts/boilerplate")%>
  
    

    <div class="row">
        <h1 class="text-center">EDIT CAMPGROUND</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="post" novalidate class = 'validate'>
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label"> title</label>
                        <input type="text" id="title" class="form-control" name="campground[title]"value = "<%=camp.title%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">location</label>
                        <input type="text" id="location" class="form-control" name="campground[location]"value = "<%=camp.location%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input name:="campground[price]" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"value = "<%=camp.price%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">image</label>
                        <input type="text" id="location" class="form-control" name="campground[image]"value = "<%=camp.image%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                          </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">description</label>
                        <textarea class = "form-control" name="campground[description]" id="location" cols="30" rows="2" required><%=camp.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                          </div>
                    </div>


                    <button class="btn btn-info">edit</button>
                </div>

            </form>
            <a href="/campgrounds/<%=camp._id%>">back to this campground</a>
        </div>

    </div>
<script>// Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'
    
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.validate')
    
      // Loop over them and prevent submission
      Array.from(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }
    
            form.classList.add('was-validated')
          }, false)
        })
    })()
</script>