<%layout("layouts/boilerplate")%>
  
    

    <div class="row">
        <h1 class="text-center">EDIT CAMPGROUND</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds/<%=camp._id%>?_method=PUT" method="post" novalidate class = 'validate' enctype="multipart/form-data">
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label"> title</label>
                        <input type="text" id="title" class="form-control" name="campground[title]"value = "<%=camp.title%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">location</label>
                        <input type="text" id="location" class="form-control" name="campground[location]"value = "<%=camp.location%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input name="campground[price]" type="text" class="form-control" aria-label="Amount (to the nearest dollar)"value = "<%=camp.price%>"required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-1 row " >
                      <div class = "col-3"> 
                        <label class ='btn btn-light' for="photos">Upload Picture</label>
                      </div>
                      <div class = "preview col-9 btn disabled">
                        <p>No picture selected</p>
                      </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">description</label>
                        <textarea class = "form-control" name="campground[description]" id="location" cols="30" rows="2" required><%=camp.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                        <div class="invalid-feedback">
                            Looks good!
                          </div>
                    </div>
                    
                    <%for (let i = 0;i<camp.image.length;i+=2){%>
                      <div class = "row">
                        <div class = 'col-6'>
                          <img src="<%=camp.image[i].thumbnail%>" class = "img-thumbnail" alt="">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name = "deleteImg[]" value="<%=camp.image[i].filename%>" id="img<%=i%>">
                            <label class="form-check-label" for="img<%=i%>">
                              Delete
                            </label>
                          </div>
                        </div>
                        <% if(i+1<camp.image.length){ %> 
                        <div class = 'col-6'>
                          <img src="<%=camp.image[i+1].thumbnail%>" class = "img-thumbnail" alt="">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name = "deleteImg[]" value="<%=camp.image[i+1].filename%>" id="img<%=i+1%>">
                            <label class="form-check-label" for="img<%=i+1%>">
                              Delete
                            </label>
                          </div>
                        </div>
                        <% } %> 
                      </div>
                     <%}%> 

                    <input type="file" name="photos" id="photos" multiple>
                    <br>
                    <button class="btn btn-info">edit</button>
                </div>

            </form>
            <a href="/campgrounds/<%=camp._id%>">back to this campground</a>
        </div>

    </div>
    <script>// Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
          'use strict'
          const input = document.querySelector('#photos');
          const preview = document.querySelector('.preview');

          input.style.opacity = 0;
          input.addEventListener('change', updateImageDisplay);
          function updateImageDisplay() {
              while (preview.firstChild) {
                  preview.removeChild(preview.firstChild);
              }
              const curFiles = input.files;
              if (curFiles.length === 0) {
                  const para = document.createElement('p');
                  para.textContent = 'No files currently selected for upload';
                  preview.appendChild(para);
              } else {
                  let message = "";
                  const para = document.createElement('p');
                  for (const file of curFiles) {
                     message = message+" "+ file.name;
                  }
                  para.textContent = message;
                  preview.appendChild(para)
              }
          }

      })()
  </script>