<%layout("layouts/boilerplate")%>
   

<div class = "row mb-3">
    <div class = "col-6">
        <div class="card" >
            <img src="<%=camp.image%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%=camp.title%></h5>
              <p class="card-text"><%=camp.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%=camp.location%></li>
              <li class="list-group-item">$<%=camp.price%>/night</li>
            </ul>
            <div class="card-body">
                
              <a class = "btn btn-warning"href="/campgrounds/<%=camp._id%>/edit" class="card-link">edit</a>
              <form class = "d-inline"action="/campgrounds/<%=camp._id%>?_method=DELETE" method="post">
                <button class = "btn btn-danger">delete</button>
            </form>
            </div>
            
          </div>
          
    </div>
    <div class="col-6">
      <form action="/campgrounds/<%=camp._id%>/reviews"  novalidate class = "mb-3 validate" method="post" >
        <div class ="mb-3" >
            <label for="rating" class = "form-label" >rating</label>
            <input type="range" class = "form-range" min="0" max="5" name="review[rating]">
        </div>
        <div class ="mb-3">
          <label for="body" class = "form-label" >Leave comment</label>
          <textarea name="review[body]" class = "form-control" id="body" cols="30" rows="10" required></textarea >
         <div class="valid-feedback">
          Looks good!
         </div>
        </div>
          <button class = "btn btn-success">submit</button>
      </form>
      <%for(let review of camp.Reviews){  %> 
      <div class = 'card mb-3'>
        <div class="card-body">
          <h5 class="card-title"><%=review.rating%></h5>
          <p class="card-text"><%=review.body%></p>
          <form class = "d-inline"action="/campgrounds/<%=camp._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
            <button class = "btn  btn-sm btn-danger">delete</button>
           </form>
        </div>
      </div>
      <%}  %> 

    </div>
</div>
   
  

